<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AreaCode</key>
	<string>30000</string>
	<key>data.notclear.days</key>
	<string>2</string>
	<key>setting.select.serviceFlg</key>
	<string>1</string>
	<key>font_size</key>
	<string>6,10,15,20,25</string>
	<key>paper.detail.kiji.newsTextLength</key>
	<string>150</string>
	<key>setting.auto.download</key>
	<string>1</string>
	<key>paper.size.1</key>
	<string>1,2.5,5,6</string>
	<key>default.user.pass</key>
	<string>komei123</string>
	<key>data.server.protocol</key>
	<string>http://</string>
	<key>isShowAgreement</key>
	<string>1</string>
	<key>search.select.serviceFlg</key>
	<string>1</string>
	<key>barShowInterval</key>
	<string>2000</string>
	<key>paper.detail.kiji.newsTitleLength</key>
	<string>100</string>
	<key>isHaveExtraImage</key>
	<string>1</string>
	<key>setting.paper.size</key>
	<string>1</string>
	<key>information.url</key>
	<string>http://153.149.5.60:8080/NAViH_S/pages/osirase_apl.html</string>
	<key>paper.size.0</key>
	<string>1,2,4,5</string>
	<key>isUseCurrentDoc</key>
	<string>1</string>
	<key>isHaveWebBtn</key>
	<string>1</string>
	<key>sendTokenUrl</key>
	<string>http://153.149.5.60:8083/NAViH_Apl/pushmessage/</string>
	<key>timeoutInterval</key>
	<string>10</string>
	<key>span.num</key>
	<string>2,3,4</string>
	<key>detailTate</key>
	<string>0</string>
	<key>page.select.serviceFlg</key>
	<string>1</string>
	<key>ExtraUrl</key>
	<string>www.sakigake.jp/news/gogai/</string>
	<key>span.index</key>
	<integer>1</integer>
	<key>protocol.url</key>
	<string>http://153.149.5.60:8080/NAViH_S/pages/protocol_apl.html</string>
	<key>isHaveSearchOrderNO</key>
	<string>1</string>
	<key>topUrl</key>
	<string>http://www.sakigake.jp/news/gogai/app_flash.jsp</string>
	<key>data.server.ip.default</key>
	<string>http://192.168.0.34:8081/TCDBWS/</string>
	<key>font_num</key>
	<integer>1</integer>
	<key>kiji.select.serviceFlg</key>
	<string>1</string>
	<key>default.user.id</key>
	<string>komei</string>
	<key>setting.firstDownload</key>
	<string>0</string>
	<key>news.select.serviceFlg</key>
	<string>1</string>
	<key>media.select.serviceFlg</key>
	<string>1</string>
	<key>clip.select.serviceFlg</key>
	<string>1</string>
	<key>paper.size.2</key>
	<string>1,3,6,8</string>
	<key>agreement.version</key>
	<string>1.0.46</string>
	<key>data.login.server.ip.default</key>
	<string>http://192.168.0.34:8081/TCDBWS/</string>
	<key>date.select.serviceFlg</key>
	<string>1</string>
	<key>WebUrl</key>
	<string>www.komei.or.jp</string>
	<key>baitai.ShowDayCount.default</key>
	<string>7</string>
	<key>isShowTopOsirase</key>
	<string>1</string>
	<key>isSwipeViewShowHighImage</key>
	<string>1</string>
	<key>isShowSearchPage</key>
	<string>1</string>
	<key>landscape.kei</key>
	<string>1.5</string>
	<key>setting.auto.login</key>
	<string>1</string>
	<key>image.server.protocol</key>
	<string>http://</string>
</dict>
</plist>
